@import url("./css_import/style-header.css");
@import url("./css_import/section_greetings.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: dark;
  overflow-x: hidden;
}
